.footer {
    color: black;
    left: 0px;
    width: 100%;
    height: auto;
    position: bottom;
    background-color: khaki;
    bottom: 0;
    flex: none;
    text-align: right;
    padding-bottom: 0.4%;
    font-family: 'Courier New', Courier, monospace;
}
.footer-2{
    color: black;
    left: 0px;
    width: 100%;
    height: auto;
    position: absolute;
    background-color: khaki;
    bottom: 0;
    flex: none;
    text-align: right;
    padding-bottom: 0.4%;
    font-family: 'Courier New', Courier, monospace;
}

.julian {
    position: relative;
    bottom: 0px;
    left: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.copyright {
    position: relative;
    bottom: 0;
    right: 0;
    font-family: 'Courier New', Courier, monospace;
}